main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

main h1, main p {
  margin: 10px;
}

input {
  width: 500px;
  height: 50px;
  padding-left: 5px;
  border: none;
  border-radius: 5px;
}

input::placeholder {
  text-transform: capitalize;
}

.btn {
  margin: 10px auto;
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  text-transform: capitalize;
}

.dark-mode {
  background-color: #111827;
  color: #f9fafb;
}

.light-mode {
  background-color: #f9fafb;
  color: #111827;
}

.button-dark-mode {
  background-color: #111827;
  color: #f9fafb;
}

.button-light-mode {
  background-color: #f9fafb;
  color: #111827;
}

.dark-mode::placeholder {
  /* background-color: #111827; */
  color: #f9fafb;
}

.light-mode::placeholder {
  /* background-color: #f9fafb; */
  color: #111827;
}

.loading-alert {
  margin: 200px auto;
  text-align: center;
  font-size: 75px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container select {
  margin: 10px;
}

ul {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  background-color: wheat;
  color: black;
  list-style: none;
  margin: 10px;
  width: 220px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 30px;
  font-size: 12px;
}

li img {
  border: none;
  border-radius: 30px;
}